<main>
    <div id="objects" class="objects">
        <% if(data.length !== 0) {%>
            <% data.map(item => { %>
                <a href="/schilderij/<%= item.objectNumber %>" class="link">
                    <div class="object">
                        <div class="img-wrapper">
                            <img class="lazy" data-src="<%= item.webImage ? item.webImage.url : '/placeholder.png' %>" alt="<%= item.title%>">
                        </div>
                        <div class="title">
                            <h3 class="title-name"><%= item.title %></h3>
                        </div>
                    </div>
                </a>
            <% }); %>
        <% } else {%>
            <span>Oeps! Het lijkt erop alsof iets mis is gegaan.</span>
        <% }%>
    </div>
</main>