<header>
    <h1>Rijksmuseum schilders</h1>
</header>

<div class="search" id="search">
    <label>
        <input type="text" placeholder="Search for a painter..." id="userInputMaker">
    </label>
    <button type="button"><i class="fas fa-search fa-2x"></i></button>
</div>