.objects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin: 5vh .5rem;
}

.link {
    margin: 0.5rem;
    height: 300px;
    box-shadow: var(--box-shadow);
}

.link .object {
    position: relative;
    text-align: center;
    color: var(--light);
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.img-wrapper img {
    max-width: 200%;
    max-height: 200%;
    background-color: transparent;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(60%);
}

.img-wrapper:hover img {
    filter: brightness(100%);
    transform: scale(1.3);
}

.link .title {
    display: none;
}

.link:hover .title {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    width: 100%;
    height: 30%;
    background-color: hsla(0,0%,0%,.5);
}
