.search {
    display: flex;
    margin: 0 1rem;
    align-items: center;
}

.search label input {
    color: var(--dark);
    background: none;
    border-bottom: 2px solid var(--dark);
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    width: 150px;
}

.search button {
    display: none;
}

/*Mobile*/
@media (max-width: 720px) {
    .search {
        position: absolute;
        justify-content: center;
        margin: 0;
        padding: .5rem 0;
        top: 3rem;
        left: 0;
        width: 100vw;
        background-color: var(--light);
        z-index: 999;
        border-top: 1px solid #DEDEDE;
    }

    .search form {
        width: 100%;
        margin: 0 0.5rem;
    }

    .search label {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .search label input {
        width: 56%;
        margin-left: 0.5rem;
    }

    .search button {
        display: flex;
        border: none;
        margin-left: 0.5rem;
        font-size: 1em;
        background: rgba(84,58,183,1);
        color: var(--light);
        padding: 0.5rem;
        border-radius: 4px;
        margin-right: 0.5rem;
        box-shadow: var(--box-shadow);
    }

    .fas {
        margin-right: 0.5rem;
    }
}