.info-container {
    background: #FFF;
    width: 75%;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    margin: 2.5rem auto;
    overflow: hidden;
}
.info-container .tab-link {
    padding: 2rem;
}

.tabs-nav {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 0.3);
    overflow-X: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    white-space: nowrap;
}
.tabs-nav .tab-link {
    display: inline-block;
    padding: 18px;
    position: relative;
    color: #bbc3d1;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.tabs-nav .tab-link:after {
    content: '';
    background: #D22C3F;
    width: 0;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .1s;
}

.info-container .tab-content {
    display: none;
}

.info-container .tabs-content .tab-content.tab1:target,
.info-container .tabs-content .tab-content.tab2:target,
.info-container .tabs-content .tab-content.tab3:target {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.tabs-nav .tab-link:hover:after,
.tabs-nav .tab-link:focus:after {
    width: calc(100% - 40px);
    transition: .3s;
}

@media(max-width: 720px) {
    .info-container {
        margin: 1rem 0;
        width: 100%;
    }

    .tabs-nav {
        flex-flow: row wrap;
    }
}