/*@import "variables.css";*/
/*@import "reset.css";*/
/*@import "typography.css";*/

html {
  background-color: #F5F5F5;
}

main,
section {
  margin: 10vh auto;
  width: 80%;
}

#noJS {
  color: #a83232;
  text-align: center;
}

.hide {
  display: none;
}
