<header>
    <nav>
        <a href="/"><img src="/logo.png"  alt="Logo Rijksmuseum"></a>
        <div class="nav">
            <ul>
                <li><a href="/rembrandt-van-rijn">Rembrandt van Rijn</a></li>
            </ul>
            <div class="search" id="search">
                <form method="get" action="/search" id="search-form">
                    <label>
                        Zoek een schilder
                        <input type="search" name="artist" placeholder="Rembrandt van Rijn"/>
                    </label>
                </form>
                <button form="search-form" type="submit">
                    <i class="fas fa-search"></i> Zoek
                </button>
            </div>
        </div>
    </nav>
</header>
